/** -*- mode: html -*- */

{namespace cl-wnbrowser.Templates}

{template create-link}

{if ($document.doc_type == 'synset')}
<a href="/synset?id={$document.doc_id}">{$document.doc_id}</a>
{else}
<a href="/nomlex?id={$document.doc_id}">{$document.doc_id}</a>
{/if}

{/template}

{template comment}

<li class="comment">
  ({call create-link}
    {param document: $document /}
    {/call}) <div class="user">{$document.user}</div>: {trimcomment($document.params)} ({prettydate($document.date)})
</li>

{/template}

{template suggestion}

<li class="suggestion">
  {if isNonnull($login) and ismember($login,$document.all_voters)}<div class="already-voted">&#10004;</div>{/if}
    ([{$document.sum_votes}/{$document.vote_score}]
    {call create-link}
    {param document: $document /}
    {/call}) <div class="user">{$document.user}</div>: {$document.action}({$document.params}) <div class="status">{$document.status}</div>
    
   </li>

{/template}

