/** -*- mode: html -*- */

{namespace cl-wnbrowser.Templates}

{template activities}

<html>
  <head>
     <title>OpenWordnet-PT Browser {$extratitle}</title>
     <link rel="stylesheet" type="text/css" href="/st/theme.css">
     <link rel="shortcut icon" href="/st/favicon.ico" type="image/x-icon" />
  </head>
   
  <body>
    <div id="content">
      <a href="/">
	<img src="/st/ownbw.png" alt="Open Wordnet Logo" id="logo">
      </a> 
      
    {literal}
    <script>
      function toggle_visibility(id) 
      {
        var e = document.getElementById(id);

        if(e.style.display == 'none')
          e.style.display = 'block';
        else
          e.style.display = 'none';
      }

      function mymentions(me)
      {
      var form = document.getElementById('form');
      form.elements["term"].value = 'params:' + me;
      form.submit();
      }

      function votes(me)
      {
      var form = document.getElementById('form');
      form.elements["term"].value = '(type:suggestion) AND all_voters:' + me;
      form.submit();
      }

      function pending(me)
      {
      var form = document.getElementById('form');
      form.elements["term"].value = '(type:suggestion) AND -all_voters:' + me;
      form.submit();
      }

      function reset()
      {
      var form = document.getElementById('form');
      form.elements["term"].value = '*';
      form.submit();
      }

      function sort(f)
      {
      var form = document.getElementById('form');
      form.elements["sf"].value = f;
      form.submit();
      }
      
      function order(o)
      {
      var form = document.getElementById('form');
      form.elements["so"].value = o;
      form.submit();
      }
    </script>
    {/literal}
    <p>
    <form id="form" action="search-activities" method="get">
      <input id="search-box" type="text" name="term" value="{$term}" />
      <input type="hidden" name="sf" value="{$sf}" />
      <input type="hidden" name="so" value="{$so}" />
      <input class="search" type="submit" value="Search" />
    </form>
    </p>

      <p>[ <a href="https://github.com/own-pt/openWordnet-PT/wiki" target="_blank">Doc</a>
	| <a href="/st/api-access.html">API</a>
	| <a href="https://github.com/own-pt/cl-wnbrowser" target="_blank">Source</a>
	| <a href="search-activities">Activity</a> |
	{if isNonnull($login)}
	<b>{$login}</b>
	{else}
	<a href="https://github.com/login/oauth/authorize?client_id={$githubid}&redirect_uri={$callbackuri}">Login</a>
	{/if}
	]
</p>
    
    {if isNonnull($login)}
    <p>[ <a href="#" onclick="mymentions('{$login}'); return false;">my @mentions</a>
      | <a href="#" onclick="votes('{$login}'); return false;">votes</a>
      | <a href="#" onclick="pending('{$login}'); return false;">pending</a>
      | <a href="#" onclick="reset(); return false;">reset</a>
      ]</p>
    {/if}

    <p>sort [ <a href="#" onclick="sort('date'); return false;">date</a>
      | <a href="#" onclick="sort('sum_votes'); return false;">votes</a>
      | <a href="#" onclick="sort('vote_score'); return false;"># votes</a>
      ] [ <a href="#" onclick="order('desc'); return false;">desc</a> |
      <a href="#" onclick="order('asc'); return false;">asc</a> ] (<b>{$sf} {$so}</b>)</p>
    
<h2>{$numfound} result{if $numfound == 0 or $numfound > 1}s{/if}</h2>

{if $numfound > 0}
<div class="container">

  {literal}
  <script>
    function facetChecked()
    {
      document.forms.formfacet['start'].value=0;
      document.forms.formfacet.submit();
    }
  </script>
  {/literal}

  
  <div class="facets">
    <form id="formfacet" action="search-activities" method="GET">
      <input type="hidden" name="sf" value="{$sf}" />
      <input type="hidden" name="so" value="{$so}" />
      <input type="hidden" name="term" value="{$term}"/>
      <input type="hidden" name="start" value="{$start}"/>
      <input type="hidden" name="search_field" value="{$search_field}"/>
      {if isNonnull($facets.type)}
      <div class="facettype" onclick="toggle_visibility('type-collapsible')">Type:</div>
      <div id="type-collapsible" style="display: block">
	{foreach $f in $facets.type}
	<input type="checkbox" name="fq_type" {checked($f.name, $fq_type)} value="{$f.name}" onchange="facetChecked();">{$f.name} ({$f.count})</input><br/>
	{/foreach}
	{/if}
      </div>

      {if isNonnull($facets.action)}
      <div class="facettype" onclick="toggle_visibility('action-collapsible')">Action:</div>
      <div id="action-collapsible" style="display: block">
	{foreach $f in $facets.action}
	<input type="checkbox" name="fq_action" {checked($f.name, $fq_action)} value="{$f.name}" onchange="facetChecked();">{$f.name} ({$f.count})</input></br>
	{/foreach}
	{/if}
      </div>

      {if isNonnull($facets.status)}
      <div class="facettype" onclick="toggle_visibility('status-collapsible')">Status:</div>
      <div id="status-collapsible" style="display: block">
	{foreach $f in $facets.status}
	<input type="checkbox" name="fq_status" {checked($f.name, $fq_status)} value="{$f.name}" onchange="facetChecked();">{$f.name} ({$f.count})</input></br>
	{/foreach}
	{/if}
      </div>

      {if isNonnull($facets.doc_type)}
      <div class="facettype" onclick="toggle_visibility('doc-type-collapsible')">Doc. type:</div>
      
      <div id="doc-type-collapsible" style="display: block">
	{foreach $f in $facets.doc_type}
	<input type="checkbox" name="fq_doc_type" {checked($f.name, $fq_doc_type)} value="{$f.name}" onchange="facetChecked();">{$f.name} ({$f.count})</input></br>
	{/foreach}
	{/if}
      </div>

      {if isNonnull($facets.user)}
      <div class="facettype" onclick="toggle_visibility('user-collapsible')">User:</div>
      <div id="user-collapsible" style="display: block">
	{foreach $f in $facets.user}
	<input type="checkbox" name="fq_user" {checked($f.name, $fq_user)} value="{$f.name}" onchange="facetChecked();">{$f.name} ({$f.count})</input></br>
	{/foreach}
	{/if}
      </div>

      {if isNonnull($facets.provenance)}
      <div class="facettype" onclick="toggle_visibility('prov-collapsible')">Provenance:</div>
    
      <div id="prov-collapsible" style="display: block">
	{foreach $f in $facets.provenance}
	<input type="checkbox" name="fq_provenance" {checked($f.name, $fq_provenance)} value="{$f.name}" onchange="facetChecked();">{$f.name} ({$f.count})</input><br/>
	{/foreach}
	{/if}
	</div>

      {if isNonnull($facets.vote_score)}
      <div class="facettype" onclick="toggle_visibility('nvotes-collapsible')"># votes:</div>
    
      <div id="nvotes-collapsible" style="display: block">
	{foreach $f in $facets.vote_score}
	<input type="checkbox" name="fq_num_votes" {checked($f.name, $fq_num_votes)} value="{$f.name}" onchange="facetChecked();">{$f.name} ({$f.count})</input><br/>
	{/foreach}
	{/if}
      </div>

      {if isNonnull($facets.sum_votes)}
      <div class="facettype" onclick="toggle_visibility('fvote-collapsible')">Final vote:</div>

      <div id="fvote-collapsible" style="display: block">
	{foreach $f in $facets.sum_votes}
	<input type="checkbox" name="fq_sum_votes" {checked($f.name, $fq_sum_votes)} value="{$f.name}" onchange="facetChecked();">{$f.name} ({$f.count})</input><br/>
	{/foreach}
	{/if}
      </div>

      {if isNonnull($facets.tags)}
      <div class="facettype" onclick="toggle_visibility('tag-collapsible')">Tag:</div>
    
      <div id="tag-collapsible" style="display: block">
	{foreach $f in $facets.tags}
	<input type="checkbox" name="fq_tag" {checked($f.name, $fq_tag)} value="{$f.name}" onchange="facetChecked();">{converttag($f.name)} ({$f.count})</input><br/>
	{/foreach}
	{/if}
      </div>

    </form>
  </div>
  
  <div class="searchresults">

    <ol start="{$start+1}">
    {foreach $d in $documents}

    {if ($d.type == 'comment')}

    {call comment}
    {param login: $login /}
    {param document: $d /}
    {/call}
    
    {else}

    {call suggestion}
    {param login: $login /}
    {param document: $d /}
    {/call}
    
    {/if}
      
      
    {/foreach}
    </ol>

    {literal}
    <script>
      function jumpto(s)
      {
      document.forms.formfacet['start'].value=s;
      document.forms.formfacet.submit();
      }
    </script>
    {/literal}
    
    <div class="navigation">
      
      {if $previous >= 0}
	<span class="txtPrev">
	  <a href="#" onclick="javascript:jumpto({$previous}); return false;">&laquo; Previous</a>
	</span>
	{/if}

	{if $next < $numfound}
        <span class="txtNext">
	  <a href="#" onclick="javascript:jumpto({$next}); return false;">Next &raquo;</a>
	</span>
	{/if}
    </div>
  </div>
</div>
{/if}


{call footer /}
{/template}
