/** -*- mode: html -*- */

{namespace cl-wnbrowser.Templates}

{template activities}

<html>
  <head>
     <title>OpenWordnet-PT Browser {$extratitle}</title>
     <link rel="stylesheet" type="text/css" href="/wn/st/theme.css">
     <link rel="shortcut icon" href="/wn/st/favicon.ico" type="image/x-icon" />
  </head>
   
  <body>
    <h1><a href="/wn/">OpenWordnet-PT</a></h1>

    <p>
    <form action="search-activities" method="get">
      <input type="text" name="term" value="{$term}" />
      <input type="submit" value="Search" />
    </form>
    </p>
    {if isNonnull($login)}
    <p>[ <a href="search-activities?term=params:@{$login}">my @mentions</a> ]</p>
    {/if}
    
<h2>{$numfound} result{if $numfound == 0 or $numfound > 1}s{/if}</h2>

{if $numfound > 0}
<div class="container">

  <div class="facets">
    <form id="formfacet" action="search-activities" method="GET">
      <input type="hidden" name="term" value="{$term}"/>
      <input type="hidden" name="start" value="{$start}"/>
      <input type="hidden" name="bookmark" value="{$bookmark}"/>
      {if isNonnull($facets.type)}
      <div class="facettype">Type:</div>
    
      {foreach $f in $facets.type}
      <input type="checkbox" name="fq_type" {checked($f.name, $fq_type)} value="{$f.name}" onchange="document.forms.formfacet.submit();">{$f.name} ({$f.count})</input><br/>
      {/foreach}
      {/if}

      {if isNonnull($facets.action)}
      <div class="facettype">Action:</div>
      {foreach $f in $facets.action}
      <input type="checkbox" name="fq_action" {checked($f.name, $fq_action)} value="{$f.name}" onchange="document.forms.formfacet.submit();">{$f.name} ({$f.count})</input></br>
      {/foreach}
      {/if}

      {if isNonnull($facets.status)}
      <div class="facettype">Status:</div>
      {foreach $f in $facets.status}
      <input type="checkbox" name="fq_status" {checked($f.name, $fq_status)} value="{$f.name}" onchange="document.forms.formfacet.submit();">{$f.name} ({$f.count})</input></br>
      {/foreach}
      {/if}

      {if isNonnull($facets.doc_type)}
      <div class="facettype">Doc. type:</div>
      {foreach $f in $facets.doc_type}
      <input type="checkbox" name="fq_doc_type" {checked($f.name, $fq_doc_type)} value="{$f.name}" onchange="document.forms.formfacet.submit();">{$f.name} ({$f.count})</input></br>
      {/foreach}
      {/if}

      {if isNonnull($facets.user)}
      <div class="facettype">User:</div>
      {foreach $f in $facets.user}
      <input type="checkbox" name="fq_user" {checked($f.name, $fq_user)} value="{$f.name}" onchange="document.forms.formfacet.submit();">{$f.name} ({$f.count})</input></br>
      {/foreach}
      {/if}
      
      {if isNonnull($facets.provenance)}
      <div class="facettype">Provenance:</div>
    
      {foreach $f in $facets.provenance}
      <input type="checkbox" name="fq_provenance" {checked($f.name, $fq_provenance)} value="{$f.name}" onchange="document.forms.formfacet.submit();">{$f.name} ({$f.count})</input><br/>
      {/foreach}
      {/if}

    </form>
  </div>
  
  <div class="searchresults">

    <ol start="{$start+1}">
    {foreach $d in $documents}

    {if ($d.type == 'comment')}

    {call comment}
    {param document: $d /}
    {/call}
    
    {else}

    {call suggestion}
    {param document: $d /}
    {/call}
    
    {/if}
      
      
    {/foreach}
    </ol>

    {literal}
    <script>
      function jumpto(s,b)
      {
      document.forms.formfacet['start'].value=s;
      document.forms.formfacet['bookmark'].value=b;
      document.forms.formfacet.submit();
      }
    </script>
    {/literal}
    
    <div class="navigation">
      
      {if $previous >= 0}
      <!--
	<span class="txtPrev">
	  <a href="#" onclick="javascript:jumpto({$previous},'{$bookmark}'); return false;">&laquo; Previous</a>
	</span>
       -->
	{/if}

	{if $next < $numfound}
        <span class="txtNext">
	  <a href="#" onclick="javascript:jumpto({$next},'{$nbookmark}'); return false;">Next &raquo;</a>
	</span>
	{/if}
    </div>
  </div>
</div>
{/if}


{call footer /}
{/template}
