{namespace cl-wnbrowser.Templates}

{template bulk-vote}

  {literal}
  <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script>
    function load_synset(id)
    {
    $.get('compact-synset?id='+id , null,
    function(result) { $("#synset-"+id).html(result); }, 'html');
    }
  </script>

  {/literal}
  
<html>
  <head>
     <title>OpenWordnet-PT Browser</title>
     <link rel="stylesheet" type="text/css" href="/wn/st/theme.css">
     <link rel="shortcut icon" href="/wn/st/favicon.ico" type="image/x-icon" />
  </head>

<body>
{if isNonnull($login)}
{foreach $id in $documents}

  <div id="synset-{$id}">
  </div>
  <hr>

  <script>load_synset('{$id}')</script>

{/foreach}
{else}
Please
<a href="https://github.com/login/oauth/authorize?client_id={$githubid}&redirect_uri={$callbackuri}">login</a> to proceed.
{/if}
</body>
</html>

{/template}