/** -*- mode: html -*- */

{namespace cl-wnbrowser.Templates}

{template header}
<html>
  <head>
     <title>OpenWordnet-PT Browser {$extratitle}</title>
     <link rel="stylesheet" type="text/css" href="/wn/st/theme.css">
     <link rel="shortcut icon" href="/wn/st/favicon.ico" type="image/x-icon" />
  </head>
   
  <body>
 <div id="content">
   <a href="/wn/"> 
     <img src="/wn/st/ownbw.png" alt="Open Wordnet Logo" id="logo">
   </a> 
   <form action="search" method="get">
     <span>
       <select class="search_field" id="search_field" name="search_field" title="Targeted search options">
	 <option value="all" {if $search_field == 'all'}selected{/if}>all
         </option>
	 <option value="word_en" {if $search_field == 'word_en'}selected{/if}>word_en</option>
         <option value="word_pt" {if $search_field == 'word_pt'}selected{/if}>word_pt</option>
	 <option value="gloss_en" {if $search_field == 'gloss_en'}selected{/if}>gloss_en</option>
	 <option value="gloss_pt" {if $search_field == 'gloss_pt'}selected{/if}>gloss_pt</option>
       </select>
	</span>
      <input id="search-box" class="search" type="text" name="term" value="{$term}"/>
      <input class="search" type="submit" value="Search" />
    </form>
{/template}

{template footer}
    </div>
  </body>
</html>
{/template}
