/** -*- mode: html -*- */

{namespace cl-wnbrowser.Templates}

{template header}

<html>
  <head>
     <title>OpenWordnet-PT Browser {$extratitle}</title>
     <link rel="stylesheet" type="text/css" href="/wn/st/theme.css">
     <link rel="shortcut icon" href="/wn/st/favicon.ico" type="image/x-icon" />
  </head>
   
  <body>
    <h1><a href="/wn/">OpenWordnet-PT</a></h1>
    <form action="search" method="get">
      <input type="text" name="term" value="{$term}" />
      <input type="submit" value="Search" />
    </form>
{/template}

{template footer}
  </body>
</html>
{/template}
