/** -*- mode: html -*- */

{namespace cl-wnbrowser.Templates}

{template home}

<html>

  <head>
     <title>OpenWordnet-PT Browser</title>
     <link rel="stylesheet" type="text/css" href="/wn/st/theme.css">
     <link rel="shortcut icon" href="/wn/st/favicon.ico" type="image/x-icon" />
  </head>

  <body>
    <div id="content">
    <img src="/wn/st/ownbw.png" alt="Open Wordnet Logo" id="logo">

    <form action="search" method="get">
      <input id="search-box" class="search" type="text" name="term" placeholder="Search ..."/>
      <input class="search" type="submit" value="Search" />
    </form>

    <h2>Summary</h2>

    <p>The OpenWordnet-PT (abbreviated as OpenWN-PT or simply OWN-PT)
    is a open access wordnet for Portuguese, originally developed by
    <a href="http://www.cs.bham.ac.uk/~vdp/" target="_blank">Valeria
    de Paiva</a>, <a href="http://arademaker.github.com"
    target="_blank">Alexandre Rademaker</a> and <a
    href="http://gerard.demelo.org/" target="_blank">Gerard de
    Melo</a> as a syntactic projection of Universal WordNet (UWN) of
    de Melo and Weikum. Like many other open wordnets we believe that
    lexical resources need to be open to be useful.</p>

    <p>You can find and download the code for OpenWordnet-PT <a
    href="https://github.com/own-pt/openWordnet-PT"
    target="_blank">here</a> and we'd like you to use <a
    href="http://arademaker.github.io/bibliography/coling2012.html"
    target="_blank">this paper</a> to cite us.

    <h2>Team</h2>

    <ul>
      <li><a href="http://arademaker.github.io" target="_blank">Alexandre Rademaker</a></li>
      <li><a href="http://vcvpaiva.github.io/" target="_blank">Valeria de Paiva</a></li>
      <li><a href="http://goo.gl/018pZs" target="_blank">Claudia Freitas</a></li>
      <li><a href="http://livyreal.org" target="_blank">Livy Real</a></li>
      <li><a href="https://github.com/fcbr" target="_blank">Fabricio Chalub</a></li>
    </ul>

    <p>Collaborators</p>

    <ul>
      <li><a href="http://gerard.demelo.org" target="_blank">Gerard de Melo</a></li>
      <li><a href="http://www3.ntu.edu.sg/home/fcbond/" target="_blank">Francis Bond</a></li>
      <li><a href="https://eden.dei.uc.pt/~hroliv/" target="_blank">Hugo Gon&ccedil;alo Oliveira</a></li>
    </ul>

    <h2>The Beginning</h2>
    <p>The process of building the OpenWN-PT used machine learning to
    construct relationships between graphs representing information
    coming from several versions of Wikipedia, as well as open
    dictionaries. Starting as a projection at the level of the lemmas
    in Portuguese and their relationships, the OpenWN-PT has been
    constantly improved through linguistically motivated additions,
    either manual or semi-automatic, making use of large corpora. This
    kind of construction, automatically started, but manually curated
    and improved, is well exemplified in the construction of our
    sister project, the NomLex-PT, an open access, wide coverage
    lexicon of nominalizations in Portuguese, described
    in <a href="http://arademaker.github.io/bibliography/gwc2014-nomlex.html"
    target="_blank">this paper</a>.</p>

    <h2>Philosophy</h2>

    <p>The OpenWN-PT has been developed since 2010 with the main
    objective of serving as a lexicon for a proposed NLP system
    focused on logical reasoning, (whether developed using descriptive
    logics or first-order logic), based on knowledge representation
    coming from language, for example using
    the <a href="http://www.adampease.org/OP/" target="_blank">SUMO
    ontology</a>. The philosophy of OpenWN-PT is to maintain a close
    alignment with the original <a href="http://wordnet.princeton.edu"
    target="_blank">Princeton WordNet</a>, but to remove the biggest
    mistakes created by automated methods, using language tools and
    skills. One consequence of this close connection with the
    Princeton WordNet is the ability to minimize the impact of
    lexicographical decisions on the separation or grouping of senses
    in a synset.</p>

    <h2>Status</h2>

    <p>The OpenWN-PT is available in RDF/OWL, following and expanding,
    when necessary, the mappings from the original Princeton
    WordNet. Both the data and the RDF template settings (classes and
    properties) of the OpenWN-PT are freely available for
    download <a href="https://github.com/own-pt/openWordnet-PT"
    target="_blank">here</a>. Besides being downloadable, the data can
    be retrieved
    via <a href="http://wnpt.brlcloud.com:10035/repositories/wn30"
    target="_blank">SPARQL in the endpoint</a> and one can consult and
    compare it with other wordnets at the generic interface provided
    by
    the <a href="http://compling.hss.ntu.edu.sg/omw/cgi-bin/wn-gridx.cgi?gridmode=grid"
    target="_blank">Open MultiLingual WordNet</a> project.</p>

    <h2>Applications</h2>

    <p>The OpenWN-PT was chosen by the organizers of
    the <a href="http://nlp.lsi.upc.edu/freeling/"
    target="_blank">Freeling</a>,
    <a href="http://compling.hss.ntu.edu.sg/omw/summx.html"
    target="_blank">Bond's Open Multilingual Wordnet</a>
    and <a href="http://babelnet.org" target="_blank">BabelNet</a>
    projects as well as
    by <a href="http://translate.google.com/about/intl/en_ALL/license.html"
    target="_blank">Google Translate</a> as the representative of the
    open wordnets in Portuguese used by these projects,
    respectively.</p>

    <h2>Experiments</h2>

    We have a couple of <a href="prototypes">experimental prototypes</a> under development to test out some ideas.
    
    <p>[ <a href="https://github.com/own-pt/openWordnet-PT/wiki" target="_blank">Doc</a>
      | <a href="https://github.com/own-pt/cl-wnbrowser" target="_blank">Source</a>
      | <a href="http://wnpt.brlcloud.com:10035/repositories/wn30" target="_blank">SPARQL Endpoint</a>
      | <a href="https://github.com/own-pt/openWordnet-PT/" target="_blank">Download</a>      
      | <a href="search-activities">Activity</a>
      | <a href="stats">Statistics</a>  |
      {if isNonnull($login)}
      <b>{$login}</b>
      {else}
      <a href="https://github.com/login/oauth/authorize?client_id={$githubid}">Login</a>
      {/if}
      | API version <b>{$info.version}</b>
      ]</p>
    </div>
  </body>

</html>
{/template}
