/** -*- mode: html -*- */

{namespace cl-wnbrowser.Templates}

{template related-synsets}

[
{foreach $s in $synsets}
  {if not isFirst($s)}, {/if}
  <a href="synset?id={$s.doc_id}">{$s.words}</a>
  {ifempty}(none)
{/foreach}
]

{/template}

{template nomlex}

{call header}
   {param extratitle: $doc_id /}
   {param term: $term /}
{/call}

<p>[ <a href="https://github.com/own-pt/openWordnet-PT/wiki" target="_blank">Doc</a>
  | <a href="/st/api-access.html" target="_blank">API</a>
  | <a href="https://github.com/own-pt/cl-wnbrowser" target="_blank">Source</a>
  | <a href="search-activities">Activity</a>
  | <a href="stats">Stats</a> |
  {if isNonnull($login)}
  <b>{$login}</b>
  {else}
  <a href="https://github.com/login/oauth/authorize?client_id={$githubid}&redirect_uri={$callbackuri}">Login</a>
  {/if}
  ]</p>


<div class="nomlexprops">

  <h2>{$doc_id}</h2>

  <h3>Details</h3>

  <ul><li>Noun: {$nomlex_noun}</li>
      <li>Verb: {$nomlex_verb}</li>
      <li>RDF Type: {$rdf_type}</li>
  </ul>

  <h3>Related synsets</h3>

  <ul>
  <li>Noun:
      {call related-synsets}
         {param synsets: $relatedsynsets_nomlex_noun /}
      {/call}
  </li>
  <li>Verb:
      {call related-synsets}
         {param synsets: $relatedsynsets_nomlex_verb /}
      {/call}
  </li>
  </ul>

  {if isNonnull($debug)}
  <hr/>
  <p><tt>{$nomlex}</tt></p>
  {/if}

  <hr/>
</div>

{call footer /}
{/template}
