/** -*- mode: html -*- */

{namespace cl-wnbrowser.Templates}

{template gloss-analysis}

<html>
<body>
<h1>An&aacute;lise de glosas</h1>

<h3>Navega&ccedil;&atilde;o r&aacute;pida</h3>
<ul>
<li><a href="#regra1">Regra 1</a>: todas as glosas de VERBOS que
n&atilde;o tem palavras terminadas por -ar, -er, -ir ou -or devem ser
consideradas problem&aacute;ticas</li>

<li><a href="#regra2">Regra 2</a>: todas as glosas de ADJETIVOS com
palavras terminadas em (-ar, -er, -ir, -or) E (uma palavra terminada
em "-os") devem ser consideradas problem&aacute;ticas.</li>

<li><a href="#regra3">Regra 3</a>: todas as glosas de ADJETIVOS cuja
primeira palavra for terminada em -a ou -os devem ser consideradas
problem&aacute;ticas.</li>

<li><a href="#regra4">Regra 4</a>: todas as glosas de ADJETIVOS cuja
primeira palavra for 'n&atilde;o' e a segunda palavra terminar em -a ou -os,
devem ser consideradas problem&aacute;ticas.</li>

</ul>

<a name="regra1"></a>
<h3>1) todas as glosas de VERBOS que n&atilde;o tem palavras
terminadas por -ar, -er, -ir ou -or devem ser consideradas
problem&aacute;ticas</h3>
<ol>
{foreach $entry in $rule1}
<li>
<a href="/wn/synset?id={$entry.synset}">{$entry.synset}</a>. <i>{$entry.pt}</i>
</li>
{/foreach}
</ol>

<a name="regra2"></a>
<h3>2) todas as glosas de ADJETIVOS com palavras terminadas em (-ar,
-er, -ir, -or) E (uma palavra terminada em "-os") devem ser
consideradas problem&aacute;ticas.</h3>
<ol>
{foreach $entry in $rule2}
<li>
<a href="/wn/synset?id={$entry.synset}">{$entry.synset}</a>. <i>{$entry.pt}</i>
</li>
{/foreach}
</ol>

<a name="regra3"></a>
<h3>3) todas as glosas de ADJETIVOS cuja primeira palavra for terminada em
-a ou -os devem ser consideradas problem&aacute;ticas.</h3>

<ol>
{foreach $entry in $rule3}
<li>
<a href="/wn/synset?id={$entry.synset}">{$entry.synset}</a>. <i>{$entry.pt}</i>
</li>
{/foreach}
</ol>

<a name="regra4"></a>
<h3>4) Todas as glosas de ADJETIVOS cuja primeira palavra for 'n&atilde;o' e a
segunda palavra terminar em -a ou -os, devem ser consideradas problem&aacute;ticas.
</h3>

<ol>
{foreach $entry in $rule4}
<li>
<a href="/wn/synset?id={$entry.synset}">{$entry.synset}</a>. <i>{$entry.pt}</i>
</li>
{/foreach}
</ol>

</body>
</html>

{/template}
