/** -*- mode: html -*- */

{namespace cl-wnbrowser.Templates}

{template isolated-vertices}

<html>
<body>
<h1>Isolated vertices</h1>

(Vertices that have zero in- and out-degrees.)

<ol>
{foreach $v in $vertices}
<li>
<a href="/wn/synset?id={$v.id}">{$v.id}</a>. <i>{$v.gloss}</i>.
{/foreach}
</ol>

</body>
</html>

{/template}
