/** -*- mode: html -*- */

{namespace cl-wnbrowser.Templates}

{template dijkstra}

<html>
<body>
<h1>All shortest paths</h1>

{if $mode == 'words'}

<i>Look for all synsets that contains the given words and that are
 connected.  List all relations found, sorted by the path length.
 This page may take a while to load.  Limited to the first 10
 results.</i>

{else}

<i>Shows the shortest paths between the given synsets.</i>

{/if}

<p>[ <a href="/wn/prototypes">back to prototypes.</a> ]</p>

<p>
<form>
{foreach $r in $relations}
<input type="checkbox" {$selected[$r]} value="checked" name="selected{lb}{$r}{rb}">{$r}<br>
{/foreach}

{if $mode == 'words'}Word{else}Synset{/if} 1: <input type="text" name="w1" value="{$w1}"><br>
{if $mode == 'words'}Word{else}Synset{/if} 2: <input type="text" name="w2" value="{$w2}">
<input type="submit">
</form>
</p>

{foreach $p in $paths}
<p><i><a href="/wn/synset?id={$p.id1}" alt="{synsetgloss($p.id1)}">{$p.id1}</a></i> x <i><a href="/wn/synset?id={$p.id2}" alt="{synsetgloss($p.id2)}">{$p.id2}</a></i>
</p>

<p>Path:
  {foreach $s in $p.path}
  {if not isFirst($s)}&rarr;{/if}
  <tt><a href="/wn/synset?id={$s}">{synsetworden($s)}</a></tt>
  {/foreach}
</p>
{ifempty}
No paths found.
{/foreach}


{/template}
