/** -*- mode: html -*- */

{namespace cl-wnbrowser.Templates}

{template prototypes}

<html>
<body>
<h1>Experiments</h1>
<ul>
  <li><a href="/wn/st/morphosemantic-links-pt.html">Morphosemantic links in PT.</a></li>
  <li><a href="/wn/st/morpholinks-nouns.html">Morphosemantic links report: missing nouns.</a></li>
  <li><a href="/wn/st/morpholinks-verbs.html">Morphosemantic links report: missing verbs.</a></li>
  <li><a href="prototypes/analysis">An&aacute;lise de glosas</a> (portuguese only).</li>
  <li><a href="prototypes/phrases">Frases</a> (portuguese only).</li>
  <li><a href="prototypes/isolated-vertices">Isolated vertices</a>.</li>
  <li><a href="prototypes/dijkstra-w">Shortest paths between words</a>.</li>
  <li><a href="prototypes/dijkstra-s">Shortest paths between synsets</a>.</li>
  <li><a href="prototypes/flngod">FreeLing On Demand</a>.</li>
  <li><a href="sense-tagging-frame">Sense tagging analysis</a>.</li>
  <li><a href="/wn/st/api-access.html">API access</a>.</li>
</ul>
</body>
</html>

{/template}
