/** -*- mode: html -*- */

{namespace cl-wnbrowser.Templates}

{template navigation}
[ <a href="#nomlexfloating">Nomlex/floating</a> | <a href="#nomlexfloatingtranslated">Nomlex/floating (translated)</a> | <a href="#verbosdgcleaned">PorPopular/DG/Cleaned</a> | <a href="#verbosdg">PorPopular/DG</a> | <a href="#ptudcleaned">UD/cleaned (PT)</a> | <a href="#ptud">UD (PT)</a> | <a href="#dhbb">dhbb</a> | <a href="#verbnetgold">verbnet (gold)</a> | <a href="#verbnet">verbnet</a>  | <a href="#verbocean">verbocean</a> | <a href="#portal">portal/pt</a> | <a href="#propbank">PropBank (todos os verbos)</a> | <a href="#propbanktranslated">PropBank Translated (todos os verbos)</a> | <a href="#thousand">999 most common verbs</a> | <a href="#portalaltafreq">Portal alta freq. (verbos)</a> | <a href="#intersection">Intersection DHBB-NOMLEX</a> | <a href="#candidates">Synset candidates</a> | <a href="#swadesh">Swadesh list</a> ]
{/template}

{template showcorpus}
{call navigation /}
<a name="{$anchorname}"></a>
<h2>{$title|noAutoescape}</h2>

{if isNonnull($description)}
<p><i>{$description|noAutoescape}</i> 
{if isNonnull($link)}
<a href="{$link}">link</a>
{/if}
</p>
{/if}

{if isNonnull($corpus)}
<p>Number of words in corpus: {$corpus.total}. In OWN-PT:
{$corpus.totalwn}.  In suggestions:
{$corpus.totalsuggestions}. Missing:
{$corpus.total-($corpus.totalwn+$corpus.totalsuggestions)}.  </p>

<ol>
{foreach $entry in $corpus.words}
<li>{$entry.word}
  {if isNonnull($entry.count)}({$entry.count}){/if}
  {if isNonnull($entry.synsets)}:{/if}
  {foreach $s in $entry.synsets}
  {if not isFirst($s)}, {/if}
  <a href="/wn/synset?id={$s}">{$s}</a>
  {/foreach}
</li>
{/foreach}
</ol>
{else}

<p><i>Empty.</i></p>

{/if}
{/template}

{template verbs}

<html>
<head>
   <meta charset="UTF-8"> 
</head>
<body>
<h1>Missing words in OWN-PT</h1>

<p>Esta p&aacute;gina lista palavras presentes em diferentes corpora
mas que ainda n&atilde;o foram inclu&iacute;das na OWN-PT. 

Se um corpus tiver tradu&ccedil;&atilde;o em ing&ecirc;s, listamos
tamb&eacute;m os synsets que cont&eacute;m a palavra traduzida.</p>

{call showcorpus}
{param anchorname: 'nomlexfloating' /}
{param description: 'Nomlex-PT: a lexicon of Portuguese Nominalizations' /}
{param link: 'http://arademaker.github.io/bibliography/lrec-2014.html' /}
{param title: 'Nomlex floating words (verbos)' /}
{param corpus: $nomlexfloating /}
{/call}

{call showcorpus}
{param anchorname: 'nomlexfloatingtranslated' /}
{param description: 'Nomlex-PT: a lexicon of Portuguese Nominalizations' /}
{param link: 'http://arademaker.github.io/bibliography/lrec-2014.html' /}
{param title: 'Nomlex floating words translated (verbos)' /}
{param corpus: $nomlexfloatingtranslated /}
{/call}

{call showcorpus}
{param anchorname: 'verbosdgcleaned' /}
{param description: 'Projeto PorPopular' /}
{param link: 'http://www.ufrgs.br/textecc/porlexbras/porpopular/' /}
{param title: 'PorPopular/DG/Cleaned (verbos)' /}
{param corpus: $verbosdgcleaned /}
{/call}

{call showcorpus}
{param anchorname: 'verbosdg' /}
{param description: 'Projeto PorPopular' /}
{param link: 'http://www.ufrgs.br/textecc/porlexbras/porpopular/' /}
{param title: 'PorPopular/DG (verbos)' /}
{param corpus: $verbosdg /}
{/call}

{call showcorpus}
{param anchorname: 'ptudcleaned' /}
{param description: 'Universal Dependencies Portuguese treebank' /}
{param link: 'https://github.com/UniversalDependencies/UD_Portuguese' /}
{param title: 'Universal Dependencies/cleaned (PT) (verbos)' /}
{param corpus: $ptudcleaned /}
{/call}

{call showcorpus}
{param anchorname: 'ptud' /}
{param title: 'Universal Dependencies (PT) (verbos)' /}
{param description: 'Universal Dependencies Portuguese treebank' /}
{param link: 'https://github.com/UniversalDependencies/UD_Portuguese' /}
{param corpus: $ptud /}
{/call}

{call showcorpus}
{param anchorname: 'dhbb' /}
{param description: 'Dicion&aacute;rio Hist&oacute;rico-Biogr&aacute;fico Brasileiro' /}
{param link: 'http://arademaker.github.io/bibliography/DHandES-2014.html' /}
{param title: 'DHBB (verbos)' /}
{param corpus: $dhbb /}
{/call}

{call showcorpus}
{param anchorname: 'verbnetgold' /}
{param description: 'VerbNet.Br: semi-automatic construction of a domain independent verbal lexicon of Brazilian Portuguese' /}
{param link: 'http://143.107.183.175:21380/portlex/index.php/en/projects/verbnetbringl' /}
{param title: 'Verbnet.BR (gold standard)' /}
{param corpus: $verbnetgold /}
{/call}

{call showcorpus}
{param description: 'VerbNet.Br: semi-automatic construction of a domain independent verbal lexicon of Brazilian Portuguese' /}
{param link: 'http://143.107.183.175:21380/portlex/index.php/en/projects/verbnetbringl' /}
{param anchorname: 'verbnet' /}
{param title: 'Verbnet.BR' /}
{param corpus: $verbnet /}
{/call}

{call showcorpus}
{param description: 'VerbOcean: a broad-coverage semantic network of verbs' /}
{param link: 'http://demo.patrickpantel.com/demos/verbocean/' /}
{param anchorname: 'verbocean' /}
{param title: 'VerbOcean translated' /}
{param corpus: $verbocean /}
{/call}

{call showcorpus}
{param description: 'Portal da L&iacute;ngua Portuguesa: um reposit&oacute;rio organizado de recursos lingu&iacute;sticos' /}
{param link: 'http://www.portaldalinguaportuguesa.org/' /}
{param anchorname: 'portal' /}
{param title: 'Portal da L&iacute;ngua Portuguesa (verbos)' /}
{param corpus: $portal /}
{/call}

{call showcorpus}
{param description: 'Propbank.BR: anota&ccedil;&atilde;o de pap&eacute;is sem&acirc;nticos em um corpus do portugu&ecirc;s do Brasil' /}
{param link: 'http://143.107.183.175:21380/portlex/index.php/en/projetos/propbankbr' /}
{param anchorname: 'propbank' /}
{param title: 'PropBank (todos os verbos)' /}
{param corpus: $propbank /}
{/call}

{call showcorpus}
{param description: 'Propbank.BR: anota&ccedil;&atilde;o de pap&eacute;is sem&acirc;nticos em um corpus do portugu&ecirc;s do Brasil' /}
{param link: 'http://143.107.183.175:21380/portlex/index.php/en/projetos/propbankbr' /}
{param anchorname: 'propbanktranslated' /}
{param title: 'PropBank Translated (todos os verbos)' /}
{param corpus: $propbanktranslated /}
{/call}

{call showcorpus}
{param description: 'O Corpus do Portugu&ecirc;s' /}
{param link: 'http://www.corpusdoportugues.org/' /}
{param anchorname: 'thousand' /}
{param title: '999 most common verbs' /}
{param corpus: $thousandcv /}
{/call}

{call showcorpus}
{param anchorname: 'portalaltafreq' /}
{param title: 'Portal alta freq. (verbos)' /}
{param corpus: $portalaltafreq /}
{/call}

{call showcorpus}
{param anchorname: 'intersection' /}
{param title: 'Intersection DHBB-NOMLEX' /}
{param corpus: $intersection /}
{/call}

{call showcorpus}
{param anchorname: 'candidates' /}
{param title: 'Synset candidates' /}
{param corpus: $synsetcandidates /}
{/call}

{call showcorpus}
{param description: 'Portuguese Swadesh List' /}
{param link: 'https://archive.org/download/rosettaproject_por_swadesh-1' /}
{param anchorname: 'swadesh' /}
{param title: 'Swadesh list' /}
{param corpus: $swadesh /}
{/call}

</body>
</html>
{/template}
