/** -*- mode: html -*- */

{namespace cl-wnbrowser.Templates}

{template dijkstra}

<html>
<body>
<h1>All shortest paths</h1>

<i>Look for all synsets that contains the given words / synsets and that are
connected.  List all relations found, sorted by the path length.  This
page may take a while to load.  Limited to the first 10 results.</i>

<p>
<form>
Word 1: <input type="text" name="w1" value="{$w1}"><br>
Word 2: <input type="text" name="w2" value="{$w2}">
<input type="submit">
</form>
</p>

{foreach $p in $paths}
<p><i><a href="/wn/synset?id={$p.id1}" alt="{synsetgloss($p.id1)}">{$p.id1}</a></i> x <i><a href="/wn/synset?id={$p.id2}" alt="{synsetgloss($p.id2)}">{$p.id2}</a></i>
</p>

<p>Path:
  {foreach $s in $p.path}
  {if not isFirst($s)}&rarr;{/if}
  <tt><a href="/wn/synset?id={$s}">{synsetword($s)}</a></tt>
  {/foreach}
</p>

{/foreach}


{/template}
