/** -*- mode: html -*- */

{namespace cl-wnbrowser.Templates}

{template prototypes}

<html>
<body>
<h1>Prot&oacute;tipos</h1>
<ul>
<li><a href="prototypes/analysis">An&aacute;lise de glosas</a>.</li>
<li><a href="prototypes/phrases">Frases</a>.</li>
<li><a href="prototypes/shortest-paths">Shortest paths</a>.</li>
</ul>
</body>
</html>

{/template}