/** -*- mode: html -*- */

{namespace cl-wnbrowser.Templates}

{template verb-analysis}

<html>
<body>
<h1>An&aacute;lise de verbos</h1>

<p>Esta p&aacute;gina lista os verbos presentes em determinadas listas
de verbos mas que ainda n&atilde;o foram inclu&iacute;dos na
OWN-PT. Para a lista que tiver o verbo correspondente em ing&ecirc;,
listamos tamb&eacute;m os synsets relacionados.  Listamos tambem os
synsets que t&ecirc;m palavras em portugu&ecirc;s parecidas.</p>


<h2>Verbnet.br</h2>

<h2>VerbOcean translated</h2>

<h2>Portal da L&iacute;ngua Portuguesa</h2>

</body>
</html>
{/template}
