/** -*- mode: html -*- */

{namespace cl-wnbrowser.Templates}

{template phrases}

<html>
<body>
<h1>Frases</h1>

<ol>
{foreach $p in $phrases}
<li>
<a href="/wn/synset?id={$p.id2}">{$p.w2}</a>
    &eacute; um tipo de
<a href="/wn/synset?id={$p.id1}">{$p.w1}</a>?
{/foreach}
</ol>

</body>
</html>

{/template}
