/** -*- mode: html -*- */

{namespace cl-wnbrowser.Templates}

{template verbs}

<html>
<head>
   <meta charset="UTF-8"> 
</head>
<body>
<h1>An&aacute;lise de verbos</h1>

<p>Esta p&aacute;gina lista os verbos presentes em determinadas listas
de verbos mas que ainda n&atilde;o foram inclu&iacute;dos na
OWN-PT. Para a lista que tiver o verbo correspondente em ing&ecirc;s,
listamos tamb&eacute;m os synsets relacionados.</p>

[ <a href="#verbnet">verbnet</a> | <a href="#verbocean">verbocean</a> | <a href="#portal">portal/pt</a> ]


<a name="verbnet"></a>
<h2>Verbnet.br</h2>

<ol>
{foreach $entry in $verbnet}
<li>{$entry.word}:
  {foreach $s in $entry.synsets}
  {if not isFirst($s)}, {/if}
  <a href="/wn/synset?id={$s}">{$s}</a>
  {/foreach}
</li>
{/foreach}
</ol>

{$verbnet}

[ <a href="#verbnet">verbnet</a> | <a href="#verbocean">verbocean</a> | <a href="#portal">portal/pt</a> ]

<a name="verbocean"></a>
<h2>VerbOcean translated</h2>

<ol>
{foreach $entry in $verbocean}
<li>{$entry.word}:
  {foreach $s in $entry.synsets}
  {if not isFirst($s)}, {/if}
  <a href="/wn/synset?id={$s}">{$s}</a>
  {/foreach}
</li>
{/foreach}
</ol>

[ <a href="#verbnet">verbnet</a> | <a href="#verbocean">verbocean</a> | <a href="#portal">portal/pt</a> ]

<a name="portal"></a>
<h2>Portal da L&iacute;ngua Portuguesa</h2>

<ol>
{foreach $entry in $portal}
<li>{$entry.word}</li>
{/foreach}
</ol>
[ <a href="#verbnet">verbnet</a> | <a href="#verbocean">verbocean</a> | <a href="#portal">portal/pt</a> ]


</body>
</html>
{/template}
