/** -*- mode: html -*- */

{namespace cl-wnbrowser.Templates}


{template sense-details}
<p><b>Word form</b>: {$document.word.wordform}</p>
<p><b>Lemma</b>: {$document.word.lemma}</p>
<p><b>Senses</b>:
<ul>
  {foreach $s in $document.lemma_synsets}
  <li>{$s.gloss}
  {/foreach}
</ul>
{/template}
