/** -*- mode: html -*- */

{namespace cl-wnbrowser.Templates}

{template sense}

<ul>
  {foreach $text in $document}
  <li><p>{$text.text}</p>
    <p>
      
      {foreach $word in $text.words}
      {if startswith('NC',$word.tag)}
      <a target="sense-tagging-options" href="sense-tagging-details?file=bosque.json&text={index($text)}&word={index($word)}">{$word.wordform}</a>
      {else}
      {$word.wordform}
      {/if}
      {sp}
      {/foreach}
    </p>
  </li>
  {/foreach}

</ul>

{/template}
