{namespace cl-wnbrowser.Templates}


{template sense-frame}
<html>
    <FRAMESET cols="60%, *">
      <FRAME src="/wn/sense-tagging?userid={$userid}">
      <FRAME name="sense-tagging-options">
      <NOFRAMES>
        <body>
          <p>This requires frames.</p>
        </body>
      </NOFRAMES>
      </FRAMESET>
</html>
{/template}

