/** -*- mode: html -*- */

{namespace cl-wnbrowser.Templates}

{template sense}

{literal}
<style type='text/css'>
  body, h1, h2, h3, p, ul, li, i
  { 
  font-family: Segoe UI, Verdana, sans-serif; 
  }
  h1 { 
    font-size: 1.2em; 
  }
  .lista input { width: 20px; }
</style>
{/literal}

{foreach $text in $document}
<h1>Texto {index($text)+1}</h1>
<p>{extractlinks($text, index($text), $userid) | noAutoescape}</p>
{/foreach}

{/template}
